alembic==1.7.7
amqp==5.1.1
appdirs==1.4.4
asgiref==3.2.10
async-timeout==4.0.2
backports.entry-points-selectable==1.1.0
billiard==3.6.4.0
blinker==1.4
cachelib==0.6.0
click==8.0.4
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
config==0.5.1
Deprecated==1.2.13
distlib==0.3.2
Django==3.1.1
django-cors-headers==3.7.0
djangorestframework==3.12.4
filelock==3.0.12
Flask==2.0.3
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
itsdangerous==2.1.1
Jinja2==3.0.3
kombu==5.2.4
Mako==1.2.0
MarkupSafe==2.1.1
packaging==21.3
Pillow==8.3.1
platformdirs==2.0.2
prompt-toolkit==3.0.29
pyparsing==3.0.8
python-decouple==3.4
pytz==2022.1
redis==4.2.2
rq==1.10.1
six==1.16.0
SQLAlchemy==1.4.32
sqlparse==0.4.1
vine==5.0.0
virtualenv==20.6.0
wcwidth==0.2.5
Werkzeug==2.0.3
wrapt==1.14.0
