{% extends 'authentication/master_auth.html' %}



{% block auth_head_block %}

    <title>Activation End | DASH</title>

{% endblock %}


{% block auth_page_content %}

    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Activation <a href="#"><span class="brand-name">Dash</span></a></h1>

                        <!-- message -->
                        <div style="height: 50px; padding-bottom: 80px;">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == 'error' %}
                                            <div class="alert alert-danger alert-dismissible fade show text-center" role="alert" style="margin: 10px 20px;">
                                                <strong> {{ message }} </strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% elif category == 'success' %}
                                            <div class="alert alert-success alert-dismissible fade show text-center" role="alert" style="margin: 10px 20px;">
                                                <strong> {{message}} </strong>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>

                        <!-- form -->
                        <form action="#" method="post" enctype="multipart/form-data" class="form">

                            <div class="text-left">

                                <div id="username-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="Email" value="{{ email }}" required>
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                    <input id="token" name="token" type="number" class="form-control" placeholder="Auth-Code" max="999999" oninvalid="this.setCustomValidity('This should not exceed 6 digits')" required>
                                </div>

                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <a href="{{ url_for('authentication.activation_init') }}" class="forgot-pass-link">Haven't got code?</a>
                                    </div>

                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Activate</button>
                                    </div>
                                </div>

                            </div>
                        </form>

                        <p class="signup-link" style="margin-bottom: 10px; margin-top: 70px;">Don't have an account ? <a href="{{ url_for('authentication.signup') }}">Sign Up</a></p>
                        <p class="signup-link">Already have an account ? <a href="{{ url_for('authentication.signin') }}">Sign in</a></p>

                        <p class="terms-conditions">© 2022 All Rights Reserved. <a href="#">DASH</a>.</p>

                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image" style="background-image: url({{ url_for('static', filename='back/assets/img/activation_end.webp') }});">
            </div>
        </div>
    </div>

{% endblock %}