{% extends 'authentication/master_auth.html' %}



{% block auth_head_block %}

    <title>Activation Init | DASH</title>

{% endblock %}


{% block auth_page_content %}

    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Activation <a href="#"><span class="brand-name">Dash</span></a></h1>
                        
                        <!-- flash message -->
                        {% include 'components/message_auth.html' %}

                        <form action="{{ url_for('authentication.activation_init', email=email) }}" method="post" enctype="multipart/form-data" class="form">

                            <div class="text-left">

                                <div id="username-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="Email" required>
                                </div>

                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        
                                    </div>

                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Next</button>
                                    </div>
                                </div>
                                
                            </div>
                        </form>    

                        <p class="signup-link" style="margin-bottom: 10px; margin-top: 70px;">Don't have an account ? <a href="{{ url_for('authentication.signup') }}">Sign Up</a></p>
                        <p class="signup-link">Already have an account ? <a href="{{ url_for('authentication.signin') }}">Sign in</a></p>

                        <p class="terms-conditions">© 2022 All Rights Reserved. <a href="#">DASH</a>.</p>

                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image" style="background-image: url({{ url_for('static', filename='back/assets/img/activation-init.jpg') }});">
            </div>
        </div>
    </div>

{% endblock %}  