{% extends 'authentication/master_auth.html' %}



{% block auth_head_block %}

    <title>Password-Reset End | DASH</title>

{% endblock %}


{% block auth_page_content %}

    <div class="form-container">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h2 class="" style="padding-bottom: 50px; padding-top: 50px;">Password-Reset <a href="#"><span class="brand-name" style="color: black;"><b>DASH</b></span></a></h2>

                        <!-- flash message -->
                        {% include 'components/message_auth.html' %}

                        <form action="{{ url_for('authentication.forgot_password_end') }}" method="post" enctype="multipart/form-data" class="form" style="padding-top: 30px;">

                            <div class="text-left">

                                <div id="username-field" class="field-wrapper input">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="email" name="email" type="email" class="form-control" placeholder="Email" maxlength="150" value="{{ email }}" required>
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-key"><path d="M21 2l-2 2m-7.61 7.61a5.5 5.5 0 1 1-7.778 7.778 5.5 5.5 0 0 1 7.777-7.777zm0 0L15.5 7.5m0 0l3 3L22 7l-3-3m-3.5 3.5L19 4"></path></svg>
                                    <input id="token" name="token" type="number" class="form-control" placeholder="Auth-Code" max="999999" oninvalid="this.setCustomValidity('This should not exceed 6 digits')" required>
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="New Password" minlength="6" maxlength="150">
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input id="password-repeat" name="password-repeat" type="password" class="form-control" placeholder="Repeat Password" minlength="6" maxlength="150">
                                </div>

                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper toggle-pass">
                                        <p class="d-inline-block">Show Password</p>
                                        <label class="switch s-primary">
                                            <input type="checkbox" id="toggle-password" class="d-none">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="">Save</button>
                                    </div>
                                    
                                </div>

                            </div>
                        </form>
                        
                        <p class="signup-link" style="margin-bottom: 10px; margin-top: 70px;">Don't have an account ? <a href="{{ url_for('authentication.signup') }}">Sign Up</a></p>
                        <p class="signup-link">Already have an account ? <a href="{{ url_for('authentication.signin') }}">Sign in</a></p>

                        <p class="terms-conditions">© 2022 All Rights Reserved. <a href="#">DASH</a>.</p>

                    </div>                    
                </div>
            </div>
        </div>
        <div class="form-image">
            <div class="l-image" style="background-image: url({{ url_for('static', filename='back/assets/img/forgot_password_end.jpg') }});">
            </div>
        </div>
    </div>

{% endblock %}   



