<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico"/>

        {% block auth_head_block %}
                        
        {% endblock %}  

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link href="{{ url_for('static', filename='back/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='back/assets/css/plugins.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='back/assets/css/authentication/form-1.css') }}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/assets/css/forms/theme-checkbox-radio.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='back/assets/css/forms/switches.css') }}">
    </head>

    <body class="form">
        

        {% block auth_page_content %}
                        
        {% endblock %}

        
        <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
        <script src="{{ url_for('static', filename='back/assets/js/libs/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='back/bootstrap/js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='back/bootstrap/js/bootstrap.min.js') }}"></script>
        
        <!-- END GLOBAL MANDATORY SCRIPTS -->
        <script src="{{ url_for('static', filename='back/assets/js/authentication/form-1.js') }}"></script>

    </body>

</html>